<p>Olá,</p>
<p>Clique abaixo para mudar sua senha</p>
<p>
    <a href="{{ url }}" target="_blank" >Mudar senha</a>
</p>
<p>
    Este link é válido por 10 minutos. Após esse período, ele expira. Caso não tenha conseguido acessá-lo dentro desse prazo, solicite outro link de mudança de senha.
</p>

<p>Se você não solicitou este e-mail, pode ignorá-lo com segurança.</p>
